<div class="containern">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Количество часов</th>
            </tr>
        </thead>
        {% for s in services %}
        <tbody>
            <tr>
                <td><a href="#"> {{s.name}} </a></td>
                <td><a href="#"> {{s.type}} </a></td>
                <td><a href="#"> {{s.price}}</a></td>
                <td><a href="#"> {{s.sale_price}} </a></td>
                <td><a href="#"> {{s.teacher}} </a></td>
            </tr>
        </tbody>
        {% endfor%}
    </table>
</div>