<div class="containern">
    <table>
        <thead>
            <tr>
                <th>Клиент</th>
                <th>Услуга</th>
                <th>Вид Услуги</th>
                <th>Статус</th>
                <th>Источник</th>
            </tr>
        </thead>
        {% for k in allklients %}
        <tbody>
            <tr>
                <td><a href="#"> {{k.s_name}} {{k.f_name}} </a></td>
                <td><a href="#"> {{k.servise}} </a></td>
                <td><a href="#"> {{k.servise.type}} </a></td>
                <td><a href="#"> {{k.status}} </a></td>
                <td><a href="#"> {{k.istochnik}} </a></td>
            </tr>
        </tbody>
        {% endfor%}
    </table>
</div>