{% load static %}
<div class="header-wrapper">
                <div class="container">
                 
                
                
			<header role="banner">
            <div class="row row-with-vspace site-branding">
                
					<div class="col-sm-2  site-title">
						<h1 class="site-title-heading">
								<img src="{% static 'images/logo_name.png' %}" class="img-logo">
						</h1>
						
					</div><!-- Close col sm2-->
					<div class="col-sm-10 page-header-top-right ">
                    
                    <div class="site-description">
                    <div class="row">
							<div class="col-sm-8 slogan">
								<h2>Наши клиенты - наше будущее</h2><br>
					        </div> 
                            
                    </div>
                    </div>
                    <!-- Close col site description-->
                        
                        
                   <div class="row main-navigation">
					<div class="col-md-12">
                   
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-primary-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							
							<div class="collapse navbar-collapse navbar-primary-collapse">
								<ul id="menu-main-menu" class="nav navbar-nav"><li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="#">Главная</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="#our-menu/">Клиенты</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="#our-menu/">Услуги</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="#our-menu/">Задачи</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-40"><a href="#category/events/">Преподователи</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="#news/">Реклама</a></li>

<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="#contact-f27/">Статистика</a></li>
</ul> 
                               
								 
							</div><!--.navbar-collapse-->
						</nav>
					</div>
				</div><!--.main-navigation-->
						<div class="sr-only">
							<a href="#content" title="Skip to content">Skip to content</a>
						</div>
						
					</div>
				</div><!--row .site-branding-->
				
				
			</header>
            </div><!--.container-->
            </div><!--.header-wrapper-->
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>