body {
    color: white !important;
    background: url('images/background.jpg');
    background-size: 100%;
    font-family: serif !important;
}

.img-logo {
    margin-left: -50%;
    margin-top: 15px;
    width: 200%;
}

.slogan {
    margin-left: 10px;
    size: 20pt;
    font-style: italic;
}

.formtext {
    height: 300px;
    width: 450px;
}

.formcolor {
    background-color: white;
    color: black !important;
}