<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class='button-ryad'> <button> <a href={% url 'tasks_view' %}> Добавить задачу </a> </button> </div>

<div class="containern">
    <table>
        <thead>

            <tr>
                <th>Клиент</th>
                <th>Задача</th>
                <th>Ответственный</th>
                <th>Срок</th>
                <th>Выполнено</th>

            </tr>
        </thead>
        {% for t in tasks %}
        <tbody>
            <tr>
                <td><a href="#"> {{t.klient.s_name}} </a></td>
                <td><a href="#"> {{t.task}} </a></td>
                <td><a href="#"> {{t.teacher.s_name}}</a></td>
                <td><a href="#"> {{t.deadline}} </a></td>
                <script>
                    function senddata(elementId) {
                        console.log(document.getElementById("check").checked);
                        var formData = new FormData();
                        formData.append("check", document.getElementById("check").checked);
                        formData.append("task_id", elementId);
                        axios.post("{% url 'tasks_table' %}", formData).then((response) => {
                            console.log(response);
                        });
                        return true;
                    }
                </script>
                {% comment %} 
                <td><a href="#"> {{}} </a></td> {% endcomment %}
                {% if t.check == False %}
                <td><input id="check" type="checkbox" name="check" onchange="senddata({{t.id}})"></td>
                {% else %}
                <td><input id="check" type="checkbox" name="check" checked onchange="senddata({{t.id}})"></td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor%}
    </table>
</div>